---
import Areacard from "./Areacard.astro";

const url = "https://hrxhpqduitxprhjkzzfc.supabase.co/rest/v1/areas";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhyeGhwcWR1aXR4cHJoamt6emZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyMDk1NTAsImV4cCI6MjA2Mjc4NTU1MH0.xI1Li8DVzlUoZilPzFkc8fNfs8tw252yEGNHv-xM7nc";

const options = {
  headers: {
    apikey: key,
  },
};

const request = await fetch(url, options);
const data = await request.json();

// console.log("data", data);
---

<!-- <div> 
  <h1>
    Område
  </h1>
</div> -->
<div class="grid center">
  {
    data.map((areas) => {
      return <Areacard data={areas} />;
    })
  }
</div>

<style>
  .center {
    margin: 0 auto;
  }
  .grid {
    display: grid;
    width: 1150px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
</style>
