---
import Card from "./Card.astro";

let url = "https://hrxhpqduitxprhjkzzfc.supabase.co/rest/v1/clothing?limit=8";

const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhyeGhwcWR1aXR4cHJoamt6emZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyMDk1NTAsImV4cCI6MjA2Mjc4NTU1MH0.xI1Li8DVzlUoZilPzFkc8fNfs8tw252yEGNHv-xM7nc";

const options = {
  headers: {
    apikey: key,
  },
};

const request = await fetch(url, options);
const data = await request.json();
console.log(data)
---

<div class="grid center">
  {
    data.map((clothing) => {
      return <Card data={clothing} />;
    })
  }
</div>

<style>
  .center {
    margin: 0 auto;
  }
  .grid {
    margin-top: 3rem;
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
 @media (max-width: 1350px) {
    .grid {
      width: 860px;
    grid-template-columns: 1fr 1fr 1fr;
    }
    .center {
      margin: 1.5rem 0;
    }
  }

  @media (max-width: 600px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }

  }
</style>
