---
import Card from "./Card.astro";

const url = "https://hrxhpqduitxprhjkzzfc.supabase.co/rest/v1/clothing";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhyeGhwcWR1aXR4cHJoamt6emZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyMDk1NTAsImV4cCI6MjA2Mjc4NTU1MH0.xI1Li8DVzlUoZilPzFkc8fNfs8tw252yEGNHv-xM7nc";

const options = {
  headers: {
    apikey: key,
  },
};

const request = await fetch(url, options);
const data = await request.json();

//console.log("data", data);
---

<!-- <div> 
  <h1>
    Collection
  </h1>
</div> -->
<div class="grid center">
  {
    data.map((clothing) => {
      return <Card data={clothing} />;
    })
  }
</div>

<style is:global>
  .center {
    margin: 0 auto;
  }
  .grid {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and(min-width: 600px) and (max-width: 1000px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (max-width: 600px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
