---
const { title, subtitle, description, image } = Astro.props;

---
<section class="collection-section">
  <div class="content-wrapper">
    <div class="image-content">
      <img src=`${image}` alt="Fashion collection2" />
    </div>
    <div class="text-content">
      <h2>{title}</h2>
      <h3>{subtitle}</h3>
      <p>{description}</p>
    </div>
  </div>
</section>

<style>
  .collection-section {
    background-color: #2b2734;
    color: #ccffd3;
    margin-bottom: 1.5%;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 5rem;
    flex-wrap: wrap;
  }

  .text-content {
    flex: 1;
    min-width: 300px;
  }

  .text-content h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #ccffd3;
    text-align: center;
    margin-right: 20%;
  }

  .text-content h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #ccffd3;
    margin-right: 20%;
    
  }

  .text-content p {
    font-size: 12px;
    line-height: 1.6;
    max-width: 500px;
    color: #ccffd3;
    text-align: center;
    margin-right: 20%;
  }

  .image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content img {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
  border-radius: -0.5rem;
}



</style>


