---
/***import Split1Carousel from "../components/Split1Carousel.jsx"; **/
---

<section class="collection-section">
  <div class="content-wrapper">
    <div class="text-content">
      <h2>Kollektion</h2>
      <h3>En enkel og fleksibel måde at dele garderobe på</h3>
      <p>
        Vores kollektioner er sammensat af medlemmernes egne favoritter og spænder fra klassiske basisvarer til sæsonens trends.
        Der er altid noget nyt at opdage, og fordi tøjet cirkulerer, føles garderoben levende og i konstant forandring.
      </p>
    </div>

     <!--- <div class="carousel">
    <Split1Carousel client:load /> 
  </div> -->

    <div class="image-content">
      <img src="/assets/acimage15.svg" alt="Fashion collection" />
    </div>
  </div>
</section>

<style>
  .collection-section {
    background-color: #2b2734;
    color: #ccffd3;
    
        background-image: url(/assets/greenquartercirkel.svg);
        background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 200px; 
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 5rem;
    flex-wrap: wrap;
  }

  .text-content {
    flex: 1;
    min-width: 300px;
  }

  .text-content h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #ccffd3;
    text-align: center;
    margin-left: 20%;
  }

  .text-content h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #ccffd3;
    margin-left: 20%;
  }

  .text-content p {
    font-size: 12px;
    line-height: 1.6;
    max-width: 500px;
    color: #ccffd3;
    text-align: center;
    margin-left: 20%;
  }

  .image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content img {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
  border-radius: -0.5rem;
}



.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}
.carousel-img.active {
  opacity: 1;
  z-index: 10;
}


</style>



</style>

